## Portada

### Main goal of this activity
* viñeta

In [51]:
# importar las librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [52]:
# cargar los dataset
df = pd.read_csv("1.csv")

In [14]:
# Analisis preliminar del dataset
df.head()

   22    50    40    31    35  4.20
0  41  41.0  57.0  78.0  31.0   5.1
1  23  36.0  76.0  75.0  36.0   6.3
2  27  96.0  93.0  27.0  36.0   6.7
3  15  97.0  65.0  22.0  15.0   4.3
4  15  75.0  21.0  81.0  24.0   6.0

## Exploratory Data Analysis (EDA)
### What is Exploratory Data Analysis?
Exploratory Data Analysis (EDA) is the first step performed by a data scientist to get a general overview of a dataset, such as its dimensions and maximum values.

In [68]:
# Add titles to the dataset columns
lista = ['Temperature', 'Humidity', 'Soil Moisture', 'Luminosity', 'Wind', 'pH']
# Assign the list to the dataset columns
df.columns = lista
df.head()

   Temperature  Humidity  Soil Moisture  Luminosity  Wind   pH
0         22.0      50.0           40.0        31.0  35.0  4.2
1         41.0      41.0           57.0        78.0  31.0  5.1
2         23.0      36.0           76.0        75.0  36.0  6.3
3         27.0      96.0           93.0        27.0  36.0  6.7
4         15.0      97.0           65.0        22.0  15.0  4.3

In [69]:
# Column names
df.columns

Index(['Temperature', 'Humidity', 'Soil Moisture', 'Luminosity', 'Wind', 'pH'], dtype='object')

In [70]:
# Dataset dimensions
df.shape

(1001, 6)

In [71]:
# Dataset information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Temperature    1000 non-null   float64
 1   Humidity       1000 non-null   float64
 2   Soil Moisture  1000 non-null   float64
 3   Luminosity     1000 non-null   float64
 4   Wind           1000 non-null   float64
 5   pH             999 non-null    float64
dtypes: float64(6)
memory usage: 47.0 KB

In [72]:
# Basic dataset statistics
df.describe()

,Temperature,Humidity,Soil Moisture,Luminosity,Wind,pH
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,999.000000
mean,28.756000,64.475000,59.448000,92.095000,25.040800,6.199700
std,9.644661,21.015209,23.096639,1333.976752,9.020707,1.672323
min,12.000000,6.000000,20.000000,0.000000,3.800000,3.500000
25%,21.000000,46.000000,40.000000,25.000000,17.000000,4.700000
50%,28.500000,64.000000,60.000000,50.000000,25.000000,6.200000
75%,37.000000,83.000000,79.000000,75.000000,33.000000,7.600000
max,45.000000,100.000000,100.000000,42224.000000,40.000000,9.000000

In [73]:
# Method that displays the last five records of the dataset
df.tail()

      Temperature  Humidity  Soil Moisture  Luminosity  Wind   pH
996          40.0      52.0           94.0        30.0  29.0  8.8
997          43.0      58.0           57.0        99.0  37.0  8.7
998          28.0      66.0           70.0        21.0  36.0  4.4
999          30.0      60.0           47.0        40.0  27.0  5.6
1000          NaN       NaN            NaN         NaN   NaN  NaN

# Basic central tendency statistics
* Mean (Average)
* Standard Deviation
* Mode
* Variance and Covariance
* Maximum and Minimum

### 1. **Mean (Average)**
The **mean** or average is the result of adding all the data points in a set and dividing the sum by the number of data points. It represents the "typical" or "central" value of a data set.

- **What is it for?**: The mean is useful for getting a central reference point that summarizes the data set. It helps compare different data sets and identify overall trends.
- **In Data Science**: The mean provides a quick overview of the average value in a data set and helps detect large deviations from the mean, such as outliers.

### 2. **Standard Deviation**
**Standard deviation** measures how much variation or dispersion exists in a data set relative to the mean. A low standard deviation means that the data points are close to the mean, while a high standard deviation indicates more spread-out data.

- **What is it for?**: It helps understand the spread of the data, showing whether the values are tightly clustered or spread out around the mean.
- **In Data Science**: Standard deviation is crucial for measuring data volatility and assessing uncertainty or risk in predictions, such as in financial models or forecasting.

### 3. **Mode**
**Mode** is the value that appears most frequently in a data set. Unlike the mean, mode is useful when there are repeated values, and there can be more than one mode if multiple values occur with the same frequency.

- **What is it for?**: It’s useful for identifying the most frequent value, especially in categorical data. It can highlight the most common behavior in the data.
- **In Data Science**: Mode is used to analyze frequent patterns in discrete or categorical data, such as user preferences or consumer behavior.

### 4. **Variance and Covariance**
- **Variance**: This is the average of the squared differences between each data point and the mean. It’s a measure of dispersion like standard deviation, but expressed in squared units.
  
  - **What is it for?**: It measures data variability. The higher the variance, the greater the spread of data around the mean.
  
- **Covariance**: This measures how two variables change together. A positive covariance means that when one variable increases, the other tends to increase as well. A negative covariance means that when one increases, the other tends to decrease.

  - **What is it for?**: It helps identify relationships between two variables. A covariance close to zero indicates no linear relationship between the variables.

- **In Data Science**: Covariance is key in correlation analysis and building predictive models, where it’s important to understand how variables vary together. Variance is essential for evaluating data uncertainty and consistency.

### 5. **Maximum and Minimum**
- **Maximum**: The highest value in a data set.
- **Minimum**: The lowest value in a data set.

- **What is it for?**: To identify the extreme values or limits in the data. Maximums and minimums are useful for understanding the range of the data.
- **In Data Science**: They help identify outliers and define data limits for normalization or scaling, which is common in data preprocessing before applying machine learning algorithms.

### In summary:
These measures provide essential information about the **distribution** and **relationships** in data. In **Data Science**, they are used to analyze trends, detect anomalies, build predictive models, and make data-driven decisions.

# Medidas de tendencia central para el dataset 1.csv

In [67]:
import pandas as pd

# Cargar el dataset desde el archivo CSV
df = pd.read_csv("1.csv", header=None)

# Asignar nombres a las columnas
lista = ['Temperatura', 'Humedad', 'Humedad del terreno', 'Luminosidad', 'Viento', 'Ph']
df.columns = lista

# Convertir las columnas a valores numéricos y forzar errores a NaN
df = df.apply(pd.to_numeric, errors='coerce')

# Medidas de tendencia central para 'Temperatura'
print("Medidas de tendencia central para 'Temperatura':")
print("Media: {}".format(round(df["Temperatura"].mean(), 2)))
print("Desviación estándar: {}".format(round(df["Temperatura"].std(), 2)))
print("Moda: {}".format(df["Temperatura"].mode().tolist()))  # Convertimos la moda a lista
print("Valor mínimo: {}".format(round(df["Temperatura"].min(), 2)))
print("Valor máximo: {}".format(round(df["Temperatura"].max(), 2)))
print()

# Medidas de tendencia central para 'Humedad'
print("Medidas de tendencia central para 'Humedad':")
print("Media: {}".format(round(df["Humedad"].mean(), 2)))
print("Desviación estándar: {}".format(round(df["Humedad"].std(), 2)))
print("Moda: {}".format(df["Humedad"].mode().tolist()))  # Convertimos la moda a lista
print("Valor mínimo: {}".format(round(df["Humedad"].min(), 2)))
print("Valor máximo: {}".format(round(df["Humedad"].max(), 2)))
print()

# Medidas de tendencia central para 'Humedad del terreno'
print("Medidas de tendencia central para 'Humedad del terreno':")
print("Media: {}".format(round(df["Humedad del terreno"].mean(), 2)))
print("Desviación estándar: {}".format(round(df["Humedad del terreno"].std(), 2)))
print("Moda: {}".format(df["Humedad del terreno"].mode().tolist()))  # Convertimos la moda a lista
print("Valor mínimo: {}".format(round(df["Humedad del terreno"].min(), 2)))
print("Valor máximo: {}".format(round(df["Humedad del terreno"].max(), 2)))
print()

# Medidas de tendencia central para 'Luminosidad'
print("Medidas de tendencia central para 'Luminosidad':")
print("Media: {}".format(round(df["Luminosidad"].mean(), 2)))
print("Desviación estándar: {}".format(round(df["Luminosidad"].std(), 2)))
print("Moda: {}".format(df["Luminosidad"].mode().tolist()))  # Convertimos la moda a lista
print("Valor mínimo: {}".format(round(df["Luminosidad"].min(), 2)))
print("Valor máximo: {}".format(round(df["Luminosidad"].max(), 2)))
print()

# Medidas de tendencia central para 'Viento'
print("Medidas de tendencia central para 'Viento':")
print("Media: {}".format(round(df["Viento"].mean(), 2)))
print("Desviación estándar: {}".format(round(df["Viento"].std(), 2)))
print("Moda: {}".format(df["Viento"].mode().tolist()))  # Convertimos la moda a lista
print("Valor mínimo: {}".format(round(df["Viento"].min(), 2)))
print("Valor máximo: {}".format(round(df["Viento"].max(), 2)))
print()

# Medidas de tendencia central para 'Ph'
print("Medidas de tendencia central para 'Ph':")
print("Media: {}".format(round(df["Ph"].mean(), 2)))
print("Desviación estándar: {}".format(round(df["Ph"].std(), 2)))
print("Moda: {}".format(df["Ph"].mode().tolist()))  # Convertimos la moda a lista
print("Valor mínimo: {}".format(round(df["Ph"].min(), 2)))
print("Valor máximo: {}".format(round(df["Ph"].max(), 2)))
print()

# Calcular y mostrar la matriz de covarianza
print("Matriz de covarianza:")
print(df.cov())

Medidas de tendencia central para 'Temperatura':
Media: 28.76
Desviación estándar: 9.64
Moda: [31.0]
Valor mínimo: 12.0
Valor máximo: 45.0

Medidas de tendencia central para 'Humedad':
Media: 64.47
Desviación estándar: 21.02
Moda: [50.0]
Valor mínimo: 6.0
Valor máximo: 100.0

Medidas de tendencia central para 'Humedad del terreno':
Media: 59.45
Desviación estándar: 23.1
Moda: [21.0]
Valor mínimo: 20.0
Valor máximo: 100.0

Medidas de tendencia central para 'Luminosidad':
Media: 92.1
Desviación estándar: 1333.98
Moda: [90.0]
Valor mínimo: 0.0
Valor máximo: 42224.0

Medidas de tendencia central para 'Viento':
Media: 25.04
Desviación estándar: 9.02
Moda: [37.0]
Valor mínimo: 3.8
Valor máximo: 40.0

Medidas de tendencia central para 'Ph':
Media: 6.2
Desviación estándar: 1.67
Moda: [4.2]
Valor mínimo: 3.5
Valor máximo: 9.0

Matriz de covarianza:
                     Temperatura     Humedad  Humedad del terreno  \
Temperatura            93.019483    3.312212            -1.358046
Humedad                 3.312212  441.639014           -32.608408
Humedad del terreno    -1.358046  -32.608408           533.454751
Luminosidad          -154.369189 -703.642768          1335.188629
Viento                 -1.493739   -0.877057            -1.777256
Ph                      0.760549    1.620088             0.258643

                      Luminosidad      Viento        Ph
Temperatura         -1.543692e+02   -1.493739  0.760549
Humedad             -7.036428e+02   -0.877057  1.620088
Humedad del terreno  1.335189e+03   -1.777256  0.258643
Luminosidad          1.779494e+06 -895.984260 -0.257439
Viento              -8.959843e+02   81.373149  0.585490
Ph                  -2.574386e-01    0.585490  2.796663

# Media con promedio dataset 2.csv

In [46]:
# Cargar sin encabezados
df2 = pd.read_csv("2.csv", header=None)  
lista = ['Temperatura', 'Humedad', 'Humedad del terreno', 'Luminosidad', 'Viento', 'Ph']
# Asignar nombres de columnas
df2.columns = lista  
# Ver las primeras filas para confirmar
df2.head()

  Temperatura  Humedad  Humedad del terreno  Luminosidad  Viento   Ph
0          22     50.0                 40.0         31.0    35.0  4.2
1          41     41.0                 57.0         78.0    31.0  5.1
2          23     36.0                 76.0         75.0    36.0  6.3
3          27     96.0                 93.0         27.0    36.0  6.7
4          15     97.0                 65.0         22.0    15.0  4.3

In [47]:
# Convertir a números y forzar errores a NaN
df2 = df2.apply(pd.to_numeric, errors='coerce')  
media = df2.mean()
print("La media del dataset 2.csv es: \n", media)

La media del dataset 2.csv es:
 Temperatura            28.7560
Humedad                64.5310
Humedad del terreno    59.4480
Luminosidad            49.9130
Viento                 25.0610
Ph                      6.1973
dtype: float64

# Media con promedio dataset 3.csv

In [49]:
# Cargar sin encabezados
df3 = pd.read_csv("3.csv", header=None)  
lista = ['Temperatura', 'Humedad', 'Humedad del terreno', 'Luminosidad', 'Viento', 'Ph']
# Asignar nombres de columnas
df3.columns = lista  
# Ver las primeras filas para confirmar
df3.head()

  Temperatura  Humedad  Humedad del terreno  Luminosidad  Viento   Ph
0          41     59.0                 76.0          6.0    10.0  6.3
1          21     96.0                 70.0         42.0    10.0  8.5
2          38     50.0                 30.0         64.0    36.0  8.6
3          33     65.0                 86.0          7.0    38.0  8.4
4          27     91.0                 53.0         25.0    37.0  7.6

# Agregaremos screnshots de
* proteus diagrama y  (agregar el que manda los datos)
* node red
* ejecusión del nodered
* thingspeak capturas

Agregar conclusión de cada cosa
toda documentacióne es en inglés
habra video
3 integrantes en cada equipo