## Portada

### Main goal of this activity
* viñeta

In [1]:
# importar las librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# cargar los dataset
df = pd.read_csv("1.csv")

In [4]:
# Analisis preliminar del dataset
df.head()

   22    50    40    31    35  4.20
0  41  41.0  57.0  78.0  31.0   5.1
1  23  36.0  76.0  75.0  36.0   6.3
2  27  96.0  93.0  27.0  36.0   6.7
3  15  97.0  65.0  22.0  15.0   4.3
4  15  75.0  21.0  81.0  24.0   6.0

## Analisis exploratorio de un dataset
### ¿Qué es el analisis exploratorio?
El analisis exploratorio de un dataset es el primer paso que efectua un datasciencie para obtener un panorama general de un dataset por ejemplo, las dimenciones y valores máximos

Debemos investigar al respecto y incluirlo aqui

In [5]:
# Agrgamos titulo a las columnas del dataset
lista = ['Temperatura', 'Humedad', 'Humedad del terreno', 'Luminosidad', 'Viento', 'Ph']
# Agregamos la fila al dataset en la posición 0
df.columns = lista
df.head()

  Temperatura  Humedad  Humedad del terreno  Luminosidad  Viento   Ph
0          41     41.0                 57.0         78.0    31.0  5.1
1          23     36.0                 76.0         75.0    36.0  6.3
2          27     96.0                 93.0         27.0    36.0  6.7
3          15     97.0                 65.0         22.0    15.0  4.3
4          15     75.0                 21.0         81.0    24.0  6.0

In [6]:
# Nombre de columnas
df.columns

Index(['Temperatura', 'Humedad', 'Humedad del terreno', 'Luminosidad',
       'Viento', 'Ph'],
      dtype='object')

In [7]:
# nombre de datasets
df.shape

(1000, 6)

In [8]:
# 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Temperatura          1000 non-null   object
 1   Humedad              999 non-null    float64
 2   Humedad del terreno  999 non-null    float64
 3   Luminosidad          999 non-null    float64
 4   Viento               999 non-null    float64
 5   Ph                   998 non-null    float64
dtypes: float64(5), object(1)
memory usage: 47.0+ KB

In [9]:
# Estadisticas basicas del datast
df.describe()

          Humedad  Humedad del terreno   Luminosidad      Viento          Ph
count  999.000000           999.000000    999.000000  999.000000  998.000000
mean    64.489489            59.467467     92.156156   25.030831    6.201703
std     21.020737            23.099998   1334.643508    9.019712    1.671961
min      6.000000            20.000000      0.000000    3.800000    3.500000
25%     46.000000            40.000000     25.000000   17.000000    4.700000
50%     64.000000            60.000000     50.000000   25.000000    6.200000
75%     83.000000            79.000000     75.000000   33.000000    7.600000
max    100.000000           100.000000  42224.000000   40.000000    9.000000

### Estadisticas basicas de tendencia central
## calcular estas estadisticas de tendencias central
* Media con promedio
* Desviación estandar
* Moda
* Varianza y covarancia
* Maximos y minimos

### Explicar para que sirvern y que le proporcionan el datasiencie

# Agregaremos screnshots de
* proteus diagrama y  (agregar el que manda los datos)
* node red
* ejecusión del nodered
* thingspeak capturas

Agregar conclusión de cada cosa
toda documentacióne es en inglés
habra video
3 integrantes en cada equipo