## Portada

### Main goal of this activity
* viñeta

In [51]:
# importar las librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [52]:
# cargar los dataset
df = pd.read_csv("1.csv")

In [14]:
# Analisis preliminar del dataset
df.head()

   22    50    40    31    35  4.20
0  41  41.0  57.0  78.0  31.0   5.1
1  23  36.0  76.0  75.0  36.0   6.3
2  27  96.0  93.0  27.0  36.0   6.7
3  15  97.0  65.0  22.0  15.0   4.3
4  15  75.0  21.0  81.0  24.0   6.0

## Exploratory Data Analysis (EDA)
### What is Exploratory Data Analysis?
Exploratory Data Analysis (EDA) is the first step performed by a data scientist to get a general overview of a dataset, such as its dimensions and maximum values.

In [76]:
# Add titles to the dataset columns
lista = ['Temperature', 'Humidity', 'Soil Humidity', 'Brightness', 'Wind', 'pH']
# Assign the list to the dataset columns
df.columns = lista
df.head()

   Temperature  Humidity  Soil Humidity  Brightness  Wind   pH
0         22.0      50.0           40.0        31.0  35.0  4.2
1         41.0      41.0           57.0        78.0  31.0  5.1
2         23.0      36.0           76.0        75.0  36.0  6.3
3         27.0      96.0           93.0        27.0  36.0  6.7
4         15.0      97.0           65.0        22.0  15.0  4.3

In [69]:
# Column names
df.columns

Index(['Temperature', 'Humidity', 'Soil Moisture', 'Luminosity', 'Wind', 'pH'], dtype='object')

In [70]:
# Dataset dimensions
df.shape

(1001, 6)

In [71]:
# Dataset information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Temperature    1000 non-null   float64
 1   Humidity       1000 non-null   float64
 2   Soil Moisture  1000 non-null   float64
 3   Luminosity     1000 non-null   float64
 4   Wind           1000 non-null   float64
 5   pH             999 non-null    float64
dtypes: float64(6)
memory usage: 47.0 KB

In [77]:
# Basic dataset statistics
df.describe()

,Temperature,Humidity,Soil Humidity,Brightness,Wind,pH
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,999.000000
mean,28.756000,64.475000,59.448000,92.095000,25.040800,6.199700
std,9.644661,21.015209,23.096639,1333.976752,9.020707,1.672323
min,12.000000,6.000000,20.000000,0.000000,3.800000,3.500000
25%,21.000000,46.000000,40.000000,25.000000,17.000000,4.700000
50%,28.500000,64.000000,60.000000,50.000000,25.000000,6.200000
75%,37.000000,83.000000,79.000000,75.000000,33.000000,7.600000
max,45.000000,100.000000,100.000000,42224.000000,40.000000,9.000000

In [78]:
# Method that displays the last five records of the dataset
df.tail()

      Temperature  Humidity  Soil Humidity  Brightness  Wind   pH
996          40.0      52.0           94.0        30.0  29.0  8.8
997          43.0      58.0           57.0        99.0  37.0  8.7
998          28.0      66.0           70.0        21.0  36.0  4.4
999          30.0      60.0           47.0        40.0  27.0  5.6
1000          NaN       NaN            NaN         NaN   NaN  NaN

# Basic central tendency statistics
* Mean (Average)
* Standard Deviation
* Mode
* Variance and Covariance
* Maximum and Minimum

### 1. **Mean (Average)**
The **mean** or average is the result of adding all the data points in a set and dividing the sum by the number of data points. It represents the "typical" or "central" value of a data set.

- **What is it for?**: The mean is useful for getting a central reference point that summarizes the data set. It helps compare different data sets and identify overall trends.
- **In Data Science**: The mean provides a quick overview of the average value in a data set and helps detect large deviations from the mean, such as outliers.

### 2. **Standard Deviation**
**Standard deviation** measures how much variation or dispersion exists in a data set relative to the mean. A low standard deviation means that the data points are close to the mean, while a high standard deviation indicates more spread-out data.

- **What is it for?**: It helps understand the spread of the data, showing whether the values are tightly clustered or spread out around the mean.
- **In Data Science**: Standard deviation is crucial for measuring data volatility and assessing uncertainty or risk in predictions, such as in financial models or forecasting.

### 3. **Mode**
**Mode** is the value that appears most frequently in a data set. Unlike the mean, mode is useful when there are repeated values, and there can be more than one mode if multiple values occur with the same frequency.

- **What is it for?**: It’s useful for identifying the most frequent value, especially in categorical data. It can highlight the most common behavior in the data.
- **In Data Science**: Mode is used to analyze frequent patterns in discrete or categorical data, such as user preferences or consumer behavior.

### 4. **Variance and Covariance**
- **Variance**: This is the average of the squared differences between each data point and the mean. It’s a measure of dispersion like standard deviation, but expressed in squared units.
  
  - **What is it for?**: It measures data variability. The higher the variance, the greater the spread of data around the mean.
  
- **Covariance**: This measures how two variables change together. A positive covariance means that when one variable increases, the other tends to increase as well. A negative covariance means that when one increases, the other tends to decrease.

  - **What is it for?**: It helps identify relationships between two variables. A covariance close to zero indicates no linear relationship between the variables.

- **In Data Science**: Covariance is key in correlation analysis and building predictive models, where it’s important to understand how variables vary together. Variance is essential for evaluating data uncertainty and consistency.

### 5. **Maximum and Minimum**
- **Maximum**: The highest value in a data set.
- **Minimum**: The lowest value in a data set.

- **What is it for?**: To identify the extreme values or limits in the data. Maximums and minimums are useful for understanding the range of the data.
- **In Data Science**: They help identify outliers and define data limits for normalization or scaling, which is common in data preprocessing before applying machine learning algorithms.

### In summary:
These measures provide essential information about the **distribution** and **relationships** in data. In **Data Science**, they are used to analyze trends, detect anomalies, build predictive models, and make data-driven decisions.

# Measures of central tendency for the dataset 1.csv

In [67]:
import pandas as pd

# Cargar el dataset desde el archivo CSV
df = pd.read_csv("1.csv", header=None)

# Asignar nombres a las columnas
lista = ['Temperatura', 'Humedad', 'Humedad del terreno', 'Luminosidad', 'Viento', 'Ph']
df.columns = lista

# Convertir las columnas a valores numéricos y forzar errores a NaN
df = df.apply(pd.to_numeric, errors='coerce')

# Medidas de tendencia central para 'Temperatura'
print("Medidas de tendencia central para 'Temperatura':")
print("Media: {}".format(round(df["Temperatura"].mean(), 2)))
print("Desviación estándar: {}".format(round(df["Temperatura"].std(), 2)))
print("Moda: {}".format(df["Temperatura"].mode().tolist()))  # Convertimos la moda a lista
print("Valor mínimo: {}".format(round(df["Temperatura"].min(), 2)))
print("Valor máximo: {}".format(round(df["Temperatura"].max(), 2)))
print()

# Medidas de tendencia central para 'Humedad'
print("Medidas de tendencia central para 'Humedad':")
print("Media: {}".format(round(df["Humedad"].mean(), 2)))
print("Desviación estándar: {}".format(round(df["Humedad"].std(), 2)))
print("Moda: {}".format(df["Humedad"].mode().tolist()))  # Convertimos la moda a lista
print("Valor mínimo: {}".format(round(df["Humedad"].min(), 2)))
print("Valor máximo: {}".format(round(df["Humedad"].max(), 2)))
print()

# Medidas de tendencia central para 'Humedad del terreno'
print("Medidas de tendencia central para 'Humedad del terreno':")
print("Media: {}".format(round(df["Humedad del terreno"].mean(), 2)))
print("Desviación estándar: {}".format(round(df["Humedad del terreno"].std(), 2)))
print("Moda: {}".format(df["Humedad del terreno"].mode().tolist()))  # Convertimos la moda a lista
print("Valor mínimo: {}".format(round(df["Humedad del terreno"].min(), 2)))
print("Valor máximo: {}".format(round(df["Humedad del terreno"].max(), 2)))
print()

# Medidas de tendencia central para 'Luminosidad'
print("Medidas de tendencia central para 'Luminosidad':")
print("Media: {}".format(round(df["Luminosidad"].mean(), 2)))
print("Desviación estándar: {}".format(round(df["Luminosidad"].std(), 2)))
print("Moda: {}".format(df["Luminosidad"].mode().tolist()))  # Convertimos la moda a lista
print("Valor mínimo: {}".format(round(df["Luminosidad"].min(), 2)))
print("Valor máximo: {}".format(round(df["Luminosidad"].max(), 2)))
print()

# Medidas de tendencia central para 'Viento'
print("Medidas de tendencia central para 'Viento':")
print("Media: {}".format(round(df["Viento"].mean(), 2)))
print("Desviación estándar: {}".format(round(df["Viento"].std(), 2)))
print("Moda: {}".format(df["Viento"].mode().tolist()))  # Convertimos la moda a lista
print("Valor mínimo: {}".format(round(df["Viento"].min(), 2)))
print("Valor máximo: {}".format(round(df["Viento"].max(), 2)))
print()

# Medidas de tendencia central para 'Ph'
print("Medidas de tendencia central para 'Ph':")
print("Media: {}".format(round(df["Ph"].mean(), 2)))
print("Desviación estándar: {}".format(round(df["Ph"].std(), 2)))
print("Moda: {}".format(df["Ph"].mode().tolist()))  # Convertimos la moda a lista
print("Valor mínimo: {}".format(round(df["Ph"].min(), 2)))
print("Valor máximo: {}".format(round(df["Ph"].max(), 2)))
print()

# Calcular y mostrar la matriz de covarianza
print("Matriz de covarianza:")
print(df.cov())

Medidas de tendencia central para 'Temperatura':
Media: 28.76
Desviación estándar: 9.64
Moda: [31.0]
Valor mínimo: 12.0
Valor máximo: 45.0

Medidas de tendencia central para 'Humedad':
Media: 64.47
Desviación estándar: 21.02
Moda: [50.0]
Valor mínimo: 6.0
Valor máximo: 100.0

Medidas de tendencia central para 'Humedad del terreno':
Media: 59.45
Desviación estándar: 23.1
Moda: [21.0]
Valor mínimo: 20.0
Valor máximo: 100.0

Medidas de tendencia central para 'Luminosidad':
Media: 92.1
Desviación estándar: 1333.98
Moda: [90.0]
Valor mínimo: 0.0
Valor máximo: 42224.0

Medidas de tendencia central para 'Viento':
Media: 25.04
Desviación estándar: 9.02
Moda: [37.0]
Valor mínimo: 3.8
Valor máximo: 40.0

Medidas de tendencia central para 'Ph':
Media: 6.2
Desviación estándar: 1.67
Moda: [4.2]
Valor mínimo: 3.5
Valor máximo: 9.0

Matriz de covarianza:
                     Temperatura     Humedad  Humedad del terreno  \
Temperatura            93.019483    3.312212            -1.358046
Humedad                 3.312212  441.639014           -32.608408
Humedad del terreno    -1.358046  -32.608408           533.454751
Luminosidad          -154.369189 -703.642768          1335.188629
Viento                 -1.493739   -0.877057            -1.777256
Ph                      0.760549    1.620088             0.258643

                      Luminosidad      Viento        Ph
Temperatura         -1.543692e+02   -1.493739  0.760549
Humedad             -7.036428e+02   -0.877057  1.620088
Humedad del terreno  1.335189e+03   -1.777256  0.258643
Luminosidad          1.779494e+06 -895.984260 -0.257439
Viento              -8.959843e+02   81.373149  0.585490
Ph                  -2.574386e-01    0.585490  2.796663

In [13]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# Load the dataset
df = pd.read_csv("1.csv")

# Add titles to the dataset columns
list = ['Temperature', 'Humidity', 'Soil Humidity', 'Luminosity', 'Wind', 'Ph']
# Assign the list to the dataset columns
df.columns = list
df.head()

  Temperature  Humidity  Soil Humidity  Luminosity  Wind   Ph
0          41      41.0           57.0        78.0  31.0  5.1
1          23      36.0           76.0        75.0  36.0  6.3
2          27      96.0           93.0        27.0  36.0  6.7
3          15      97.0           65.0        22.0  15.0  4.3
4          15      75.0           21.0        81.0  24.0  6.0

In [14]:
# Define the columns
columns = ['Temperature', 'Humidity', 'Soil Humidity', 'Luminosity', 'Wind', 'Ph']

# Central tendency measures for each column
for col in columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')  # Convert to numeric
    print(f"\n--- {col} ---")
    print(f"Mean: {df[col].mean():.2f}")
    print(f"Std: {df[col].std():.2f}")
    print(f"Mode: {df[col].mode().tolist()}")
    print(f"Min: {df[col].min():.2f}")
    print(f"Max: {df[col].max():.2f}")

# Calculate the covariance between the columns
cov_matrix = df[columns].cov()
print("\n--- Covariance Matrix ---")
print(cov_matrix)

--- Temperature ---
Mean: 28.76
Std: 9.65
Mode: [31.0]
Min: 12.00
Max: 45.00

--- Humidity ---
Mean: 64.49
Std: 21.02
Mode: [50.0]
Min: 6.00
Max: 100.00

--- Soil Humidity ---
Mean: 59.47
Std: 23.10
Mode: [21.0]
Min: 20.00
Max: 100.00

--- Luminosity ---
Mean: 92.16
Std: 1334.64
Mode: [90.0]
Min: 0.00
Max: 42224.00

--- Wind ---
Mean: 25.03
Std: 9.02
Mode: [37.0]
Min: 3.80
Max: 40.00

--- Ph ---
Mean: 6.20
Std: 1.67
Mode: [4.2]
Min: 3.50
Max: 9.00

--- Covariance Matrix ---
               Temperature    Humidity  Soil Humidity    Luminosity  \
Temperature      93.066909    3.217444      -1.491193 -1.549379e+02
Humidity          3.217444  441.871382     -32.923438 -7.052348e+02
Soil Humidity    -1.491193  -32.923438     533.609913  1.335335e+03
Luminosity     -154.937867 -705.234830    1335.334745  1.781273e+06
Wind             -1.427749   -0.733343      -1.584768 -8.962718e+02
Ph                0.747740    1.592618       0.219917 -2.956849e-01

                     Wind        Ph
Temperature     -1.427749  0.747740
Humidity        -0.733343  1.592618
Soil Humidity   -1.584768  0.219917
Luminosity    -896.271753 -0.295685
Wind            81.355201  0.606030
Ph               0.606030  2.795453

# Measures of central tendency for the dataset 2.csv

In [15]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# Load the dataset
df = pd.read_csv("2.csv")

# Add titles to the dataset columns
list = ['Temperature', 'Humidity', 'Soil Humidity', 'Luminosity', 'Wind', 'Ph']
# Assign the list to the dataset columns
df.columns = list
df.head()

  Temperature  Humidity  Soil Humidity  Luminosity  Wind   Ph
0          15      74.0           69.0        39.0  20.0  8.7
1          18      93.0           48.0         9.0  28.0  6.9
2          26      90.0           37.0        72.0  39.0  4.9
3          16      60.0           69.0        73.0  28.0  8.6
4          40      33.0           43.0        90.0  17.0  6.9

In [16]:
# Define the columns
columns = ['Temperature', 'Humidity', 'Soil Humidity', 'Luminosity', 'Wind', 'Ph']

# Central tendency measures for each column
for col in columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')  # Convert to numeric
    print(f"\n--- {col} ---")
    print(f"Mean: {df[col].mean():.2f}")
    print(f"Std: {df[col].std():.2f}")
    print(f"Mode: {df[col].mode().tolist()}")
    print(f"Min: {df[col].min():.2f}")
    print(f"Max: {df[col].max():.2f}")

# Calculate the covariance between the columns
cov_matrix = df[columns].cov()
print("\n--- Covariance Matrix ---")
print(cov_matrix)

--- Temperature ---
Mean: 28.80
Std: 10.01
Mode: [45.0]
Min: 12.00
Max: 45.00

--- Humidity ---
Mean: 64.61
Std: 21.01
Mode: [30.0, 44.0]
Min: 30.00
Max: 100.00

--- Soil Humidity ---
Mean: 58.81
Std: 23.44
Mode: [96.0]
Min: 20.00
Max: 100.00

--- Luminosity ---
Mean: 48.94
Std: 28.45
Mode: [73.0]
Min: 0.00
Max: 100.00

--- Wind ---
Mean: 24.73
Std: 9.00
Mode: [28.0]
Min: 10.00
Max: 40.00

--- Ph ---
Mean: 6.23
Std: 1.64
Mode: [5.8, 8.6]
Min: 3.50
Max: 9.00

--- Covariance Matrix ---
               Temperature    Humidity  Soil Humidity  Luminosity       Wind  \
Temperature     100.161478    8.367066      -0.883782   12.043348   0.108420
Humidity          8.367066  441.595800       4.677208  -22.683213  -6.290462
Soil Humidity    -0.883782    4.677208     549.397415  -11.999856   4.140282
Luminosity       12.043348  -22.683213     -11.999856  809.155338  -2.715521
Wind              0.108420   -6.290462       4.140282   -2.715521  81.001488
Ph               -0.775941   -0.669039       0.468597   -0.286342   0.991318

                     Ph
Temperature   -0.775941
Humidity      -0.669039
Soil Humidity  0.468597
Luminosity    -0.286342
Wind           0.991318
Ph             2.680844

# Measures of central tendency for the dataset 3.csv

In [17]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# Load the dataset
df = pd.read_csv("3.csv")

# Add titles to the dataset columns
list = ['Temperature', 'Humidity', 'Soil Humidity', 'Luminosity', 'Wind', 'Ph']
# Assign the list to the dataset columns
df.columns = list
df.head()

  Temperature  Humidity  Soil Humidity  Luminosity  Wind   Ph
0          21      96.0           70.0        42.0  10.0  8.5
1          38      50.0           30.0        64.0  36.0  8.6
2          33      65.0           86.0         7.0  38.0  8.4
3          27      91.0           53.0        25.0  37.0  7.6
4          29      86.0           95.0        68.0  21.0  5.8

In [18]:
# Define the columns
columns = ['Temperature', 'Humidity', 'Soil Humidity', 'Luminosity', 'Wind', 'Ph']

# Central tendency measures for each column
for col in columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')  # Convert to numeric
    print(f"\n--- {col} ---")
    print(f"Mean: {df[col].mean():.2f}")
    print(f"Std: {df[col].std():.2f}")
    print(f"Mode: {df[col].mode().tolist()}")
    print(f"Min: {df[col].min():.2f}")
    print(f"Max: {df[col].max():.2f}")

# Calculate the covariance between the columns
cov_matrix = df[columns].cov()
print("\n--- Covariance Matrix ---")
print(cov_matrix)

--- Temperature ---
Mean: 27.93
Std: 10.04
Mode: [19.0]
Min: 12.00
Max: 45.00

--- Humidity ---
Mean: 64.17
Std: 20.52
Mode: [46.0, 89.0]
Min: 30.00
Max: 100.00

--- Soil Humidity ---
Mean: 59.88
Std: 23.11
Mode: [59.0, 70.0]
Min: 20.00
Max: 100.00

--- Luminosity ---
Mean: 49.92
Std: 29.15
Mode: [4.0]
Min: 0.00
Max: 100.00

--- Wind ---
Mean: 24.98
Std: 8.96
Mode: [19.0]
Min: 10.00
Max: 40.00

--- Ph ---
Mean: 6.31
Std: 1.62
Mode: [8.5]
Min: 3.50
Max: 9.00

--- Covariance Matrix ---
               Temperature    Humidity  Soil Humidity  Luminosity       Wind  \
Temperature     100.843922    1.019056      10.096836   -7.331913  -1.533241
Humidity          1.019056  421.234162     -12.082089  -14.206175   7.290542
Soil Humidity    10.096836  -12.082089     534.132610   21.172139  -9.095250
Luminosity       -7.331913  -14.206175      21.172139  849.873966  -5.561416
Wind             -1.533241    7.290542      -9.095250   -5.561416  80.347406
Ph               -0.850759   -0.190701      -0.259192    1.417743  -0.303348

                     Ph
Temperature   -0.850759
Humidity      -0.190701
Soil Humidity -0.259192
Luminosity     1.417743
Wind          -0.303348
Ph             2.626356

# Measures of central tendency for the dataset 4.csv

In [20]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# Load the dataset
df = pd.read_csv("4.csv")

# Add titles to the dataset columns
list = ['Temperature', 'Humidity', 'Soil Humidity', 'Luminosity', 'Wind', 'Ph']
# Assign the list to the dataset columns
df.columns = list
df.head()

  Temperature  Humidity  Soil Humidity  Luminosity  Wind   Ph
0          13      69.0           53.0        38.0  34.0  7.4
1          31      47.0           27.0        80.0  35.0  8.2
2          35      51.0           69.0        71.0  19.0  6.6
3          38      39.0           36.0        21.0  15.0  4.2
4          30      84.0           20.0        19.0  26.0  5.4

In [21]:
# Define the columns
columns = ['Temperature', 'Humidity', 'Soil Humidity', 'Luminosity', 'Wind', 'Ph']

# Central tendency measures for each column
for col in columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')  # Convert to numeric
    print(f"\n--- {col} ---")
    print(f"Mean: {df[col].mean():.2f}")
    print(f"Std: {df[col].std():.2f}")
    print(f"Mode: {df[col].mode().tolist()}")
    print(f"Min: {df[col].min():.2f}")
    print(f"Max: {df[col].max():.2f}")

# Calculate the covariance between the columns
cov_matrix = df[columns].cov()
print("\n--- Covariance Matrix ---")
print(cov_matrix)

--- Temperature ---
Mean: 68.25
Std: 1257.47
Mode: [26.0]
Min: 12.00
Max: 39772.00

--- Humidity ---
Mean: 64.72
Std: 20.68
Mode: [30.0]
Min: 30.00
Max: 100.00

--- Soil Humidity ---
Mean: 60.13
Std: 23.71
Mode: [47.0]
Min: 20.00
Max: 100.00

--- Luminosity ---
Mean: 51.75
Std: 29.29
Mode: [80.0, 99.0]
Min: 0.00
Max: 100.00

--- Wind ---
Mean: 24.78
Std: 8.85
Mode: [19.0]
Min: 3.70
Max: 40.00

--- Ph ---
Mean: 6.28
Std: 1.64
Mode: [9.0]
Min: 3.50
Max: 9.00

--- Covariance Matrix ---
                Temperature     Humidity  Soil Humidity   Luminosity  \
Temperature    1.581221e+06 -1258.558689   -1603.729257 -1088.898997
Humidity      -1.258559e+03   427.533261     -27.160552    10.983479
Soil Humidity -1.603729e+03   -27.160552     562.252848    10.181257
Luminosity    -1.088899e+03    10.983479      10.181257   857.801533
Wind          -8.409208e+02     1.216672      -9.155735    -9.880377
Ph             9.273072e-01     0.993202       1.392217     1.184815

                     Wind        Ph
Temperature   -840.920775  0.927307
Humidity         1.216672  0.993202
Soil Humidity   -9.155735  1.392217
Luminosity      -9.880377  1.184815
Wind            78.279226 -0.357481
Ph              -0.357481  2.681150

# Measures of central tendency for the dataset 5.csv

In [22]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# Load the dataset
df = pd.read_csv("5.csv")

# Add titles to the dataset columns
list = ['Temperature', 'Humidity', 'Soil Humidity', 'Luminosity', 'Wind', 'Ph']
# Assign the list to the dataset columns
df.columns = list
df.head()

  Temperature  Humidity  Soil Humidity  Luminosity  Wind   Ph
0          15      74.0           69.0        39.0  20.0  8.7
1          18      93.0           48.0         9.0  28.0  6.9
2          26      90.0           37.0        72.0  39.0  4.9
3          16      60.0           69.0        73.0  28.0  8.6
4          40      33.0           43.0        90.0  17.0  6.9

In [23]:
# Define the columns
columns = ['Temperature', 'Humidity', 'Soil Humidity', 'Luminosity', 'Wind', 'Ph']

# Central tendency measures for each column
for col in columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')  # Convert to numeric
    print(f"\n--- {col} ---")
    print(f"Mean: {df[col].mean():.2f}")
    print(f"Std: {df[col].std():.2f}")
    print(f"Mode: {df[col].mode().tolist()}")
    print(f"Min: {df[col].min():.2f}")
    print(f"Max: {df[col].max():.2f}")

# Calculate the covariance between the columns
cov_matrix = df[columns].cov()
print("\n--- Covariance Matrix ---")
print(cov_matrix)

--- Temperature ---
Mean: 28.80
Std: 10.01
Mode: [45.0]
Min: 12.00
Max: 45.00

--- Humidity ---
Mean: 64.61
Std: 21.01
Mode: [30.0, 44.0]
Min: 30.00
Max: 100.00

--- Soil Humidity ---
Mean: 58.81
Std: 23.44
Mode: [96.0]
Min: 20.00
Max: 100.00

--- Luminosity ---
Mean: 48.94
Std: 28.45
Mode: [73.0]
Min: 0.00
Max: 100.00

--- Wind ---
Mean: 24.73
Std: 9.00
Mode: [28.0]
Min: 10.00
Max: 40.00

--- Ph ---
Mean: 6.23
Std: 1.64
Mode: [5.8, 8.6]
Min: 3.50
Max: 9.00

--- Covariance Matrix ---
               Temperature    Humidity  Soil Humidity  Luminosity       Wind  \
Temperature     100.161478    8.367066      -0.883782   12.043348   0.108420
Humidity          8.367066  441.595800       4.677208  -22.683213  -6.290462
Soil Humidity    -0.883782    4.677208     549.397415  -11.999856   4.140282
Luminosity       12.043348  -22.683213     -11.999856  809.155338  -2.715521
Wind              0.108420   -6.290462       4.140282   -2.715521  81.001488
Ph               -0.775941   -0.669039       0.468597   -0.286342   0.991318

                     Ph
Temperature   -0.775941
Humidity      -0.669039
Soil Humidity  0.468597
Luminosity    -0.286342
Wind           0.991318
Ph             2.680844

# Measures of central tendency for the dataset 6.csv

In [24]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# Load the dataset
df = pd.read_csv("6.csv")

# Add titles to the dataset columns
list = ['Temperature', 'Humidity', 'Soil Humidity', 'Luminosity', 'Wind', 'Ph']
# Assign the list to the dataset columns
df.columns = list
df.head()

  Temperature  Humidity  Soil Humidity  Luminosity  Wind   Ph
0          17      69.0           58.0        19.0  25.0  6.3
1          15      55.0           73.0        80.0  20.0  5.3
2          19      40.0           94.0        51.0  14.0  5.8
3          41      37.0           41.0        40.0  21.0  9.0
4          44      45.0           21.0        85.0  23.0  8.8

In [25]:
# Define the columns
columns = ['Temperature', 'Humidity', 'Soil Humidity', 'Luminosity', 'Wind', 'Ph']

# Central tendency measures for each column
for col in columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')  # Convert to numeric
    print(f"\n--- {col} ---")
    print(f"Mean: {df[col].mean():.2f}")
    print(f"Std: {df[col].std():.2f}")
    print(f"Mode: {df[col].mode().tolist()}")
    print(f"Min: {df[col].min():.2f}")
    print(f"Max: {df[col].max():.2f}")

# Calculate the covariance between the columns
cov_matrix = df[columns].cov()
print("\n--- Covariance Matrix ---")
print(cov_matrix)

--- Temperature ---
Mean: 28.53
Std: 9.84
Mode: [22.0]
Min: 12.00
Max: 45.00

--- Humidity ---
Mean: 65.46
Std: 20.90
Mode: [98.0]
Min: 30.00
Max: 100.00

--- Soil Humidity ---
Mean: 60.55
Std: 24.01
Mode: [89.0]
Min: 20.00
Max: 100.00

--- Luminosity ---
Mean: 48.78
Std: 29.05
Mode: [9.0]
Min: 0.00
Max: 100.00

--- Wind ---
Mean: 24.64
Std: 9.02
Mode: [13.0]
Min: 10.00
Max: 40.00

--- Ph ---
Mean: 6.22
Std: 1.60
Mode: [7.7]
Min: 3.50
Max: 9.00

--- Covariance Matrix ---
               Temperature    Humidity  Soil Humidity  Luminosity       Wind  \
Temperature      96.736352    7.869685       6.098014  -10.668900  -0.650552
Humidity          7.869685  436.781671       5.387992    7.093349  -6.400558
Soil Humidity     6.098014    5.387992     576.386168   21.838260 -10.073475
Luminosity      -10.668900    7.093349      21.838260  843.665760 -14.293017
Wind             -0.650552   -6.400558     -10.073475  -14.293017  81.442256
Ph               -0.986558   -0.104068      -1.832592   -2.232302   0.533721

                     Ph
Temperature   -0.986558
Humidity      -0.104068
Soil Humidity -1.832592
Luminosity    -2.232302
Wind           0.533721
Ph             2.563628

# Agregaremos screnshots de
* proteus diagrama y  (agregar el que manda los datos)
* node red
* ejecusión del nodered
* thingspeak capturas

Agregar conclusión de cada cosa
toda documentacióne es en inglés
habra video
3 integrantes en cada equipo